# Key IO Data Structures in SuPy

## Introduction

In [3]:
import supy as sp
df_state_init, df_forcing = sp.load_SampleData()
df_output, df_state_final = sp.run_supy(df_forcing, df_state_init)

## Input

### `df_state_init`: model initial states

In [1]:
df_state_init.head()

NameError: name 'df_state_init' is not defined

### `df_forcing`: forcing data

In [20]:
df_forcing.head()

,iy,id,it,imin,qn1_obs,qh_obs,qe,qs_obs,qf_obs,avu1,...,snow_obs,ldown_obs,fcld_obs,wu_m3,xsmd,lai_obs,kdiff,kdir,wdir,isec
2012-01-01 00:05:00,2012,1,0,5,-999.0,-999.0,-999.0,-999.0,-999.0,4.515,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0
2012-01-01 00:10:00,2012,1,0,10,-999.0,-999.0,-999.0,-999.0,-999.0,4.515,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0
2012-01-01 00:15:00,2012,1,0,15,-999.0,-999.0,-999.0,-999.0,-999.0,4.515,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0
2012-01-01 00:20:00,2012,1,0,20,-999.0,-999.0,-999.0,-999.0,-999.0,4.515,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0
2012-01-01 00:25:00,2012,1,0,25,-999.0,-999.0,-999.0,-999.0,-999.0,4.515,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0

## Output

### `df_state_final`: model final states

In [21]:
df_state_final.head()

var                      aerodynamicresistancemethod ah_min        \
ind_dim                                            0   (0,)  (1,)
grid datetime
1    2012-01-01 00:05:00                           2   15.0  15.0
     2013-01-01 00:05:00                           2   15.0  15.0

var                      ah_slope_cooling      ah_slope_heating       \
ind_dim                              (0,) (1,)             (0,) (1,)
grid datetime
1    2012-01-01 00:05:00              2.7  2.7              2.7  2.7
     2013-01-01 00:05:00              2.7  2.7              2.7  2.7

var                      ahprof_24hr                ...   wuprofm_24hr  \
ind_dim                       (0, 0) (0, 1) (1, 0)  ...        (20, 1)
grid datetime                                       ...
1    2012-01-01 00:05:00        0.57   0.65   0.45  ...         -999.0
     2013-01-01 00:05:00        0.57   0.65   0.45  ...         -999.0

var                                                                       \
ind_dim                  (21, 0) (21, 1) (22, 0) (22, 1) (23, 0) (23, 1)
grid datetime
1    2012-01-01 00:05:00  -999.0  -999.0  -999.0  -999.0  -999.0  -999.0
     2013-01-01 00:05:00  -999.0  -999.0  -999.0  -999.0  -999.0  -999.0

var                          z z0m_in zdm_in
ind_dim                      0      0      0
grid datetime
1    2012-01-01 00:05:00  10.0   0.01    0.2
     2013-01-01 00:05:00  10.0   0.01    0.2

[2 rows x 1200 columns]

### `df_output`: model output results

In [22]:
df_output.head()

group                        SUEWS                                             \
var                          Kdown     Kup       Ldown         Lup      Tsurf
grid datetime
1    2012-01-01 00:05:00  0.153333  0.0184  344.310184  372.270369  11.775916
     2012-01-01 00:10:00  0.153333  0.0184  344.310184  372.270369  11.775916
     2012-01-01 00:15:00  0.153333  0.0184  344.310184  372.270369  11.775916
     2012-01-01 00:20:00  0.153333  0.0184  344.310184  372.270369  11.775916
     2012-01-01 00:25:00  0.153333  0.0184  344.310184  372.270369  11.775916

group                                                               ...  \
var                              QN   QF         QS         QH   QE ...
grid datetime                                                       ...
1    2012-01-01 00:05:00 -27.825251  0.0 -59.305405  31.480154  0.0 ...
     2012-01-01 00:10:00 -27.825251  0.0 -59.305405  31.480154  0.0 ...
     2012-01-01 00:15:00 -27.825251  0.0 -59.305405  31.480154  0.0 ...
     2012-01-01 00:20:00 -27.825251  0.0 -59.305405  31.480154  0.0 ...
     2012-01-01 00:25:00 -27.825251  0.0 -59.305405  31.480154  0.0 ...

group                    DailyState                                   \
var                        DSnowPvd DSnowBldgs DSnowEveTr DSnowDecTr
grid datetime
1    2012-01-01 00:05:00        NaN        NaN        NaN        NaN
     2012-01-01 00:10:00        NaN        NaN        NaN        NaN
     2012-01-01 00:15:00        NaN        NaN        NaN        NaN
     2012-01-01 00:20:00        NaN        NaN        NaN        NaN
     2012-01-01 00:25:00        NaN        NaN        NaN        NaN

group
var                      DSnowGrass DSnowBSoil DSnowWater  a1  a2  a3
grid datetime
1    2012-01-01 00:05:00        NaN        NaN        NaN NaN NaN NaN
     2012-01-01 00:10:00        NaN        NaN        NaN NaN NaN NaN
     2012-01-01 00:15:00        NaN        NaN        NaN NaN NaN NaN
     2012-01-01 00:20:00        NaN        NaN        NaN NaN NaN NaN
     2012-01-01 00:25:00        NaN        NaN        NaN NaN NaN NaN

[5 rows x 245 columns]

[test-link-object: ah_slope_cooling](df_state.rst#cmdoption-arg-ah-slope-cooling)